@model Animal
@{
    ViewBag.Title = "Add new Animal";
}

<h2>Fill out the form to add an animal</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Create" method="post">
            <div class="form_row">
                <label for="">
                    Name
                    <input asp-for="Name" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Age
                    <input asp-for="Age" type="number">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Type
                    <input asp-for="Type" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Color
                    <input asp-for="Color" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Weight
                    <input asp-for="Weight" type="number">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Price
                    <input asp-for="Price" type="number">
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Создать</button>
        </form>
    </div>
</div>